section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-family: 'Grandstander', cursive;
        color: purple;
        border: 2px solid purple;
        border-radius: 15px;
        padding: 5px 15px;
    }
    mat-form-field {
        width: 300px;
        font-family: 'Grandstander', cursive;
    }
}