section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {        
        font-family: 'Grandstander', cursive;
        margin-top: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        mat-form-field {
            width: 300px;
            margin: 10px 0;
        }
        button {
            width: 100px;
            margin-top: 10px
        }
        p {
            margin-top: 10px;
        }
        .success {
            color: green;
        }
        .failure {
            color: red;
        }
    }
}