<section class="pokemon-cards">
    <mat-card *ngFor="let pokemon of pageSlice; let i = index" class="pokemon-card" [@flip]="pokemon.state" (click)="onFlipCard(i)" style="display: block;">
        <div class="front-card" *ngIf="pokemon.state === 'front'">
        <mat-card-header>
            <div mat-card-avatar class="pokemon-avatar" [style.backgroundImage]="'url('+ pokemon.image + ')'"></div>
            <mat-card-title>{{ pokemon.name|titlecase }}</mat-card-title>
            <mat-card-subtitle>{{ pokemon.id }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="pokemon.bigImage" style="width: 100%">
        </div>
        <mat-card-content *ngIf="pokemon.state === 'back'" class="back-card" [@expandDiv]="expanded" style="display: block;">
            <h3><b>Abilities:</b></h3>
            <ul *ngFor="let ability of pokemon.abilities" style="list-style-type: none;">
                <li>
                    <app-ability [url]="ability.ability.url" [name]="ability.ability.name"></app-ability>
                </li>
            </ul>
            <h3><b>Species:</b></h3>
            <ul style="list-style-type: none;">
                <li><b>{{ pokemon.species.name |uppercase }}</b></li>
            </ul>
            <h3><b>Stats:</b></h3>
            <ul *ngFor="let stat of pokemon.stats" style="list-style-type: none;">
                <li><b>{{ stat.stat.name |uppercase }}:</b> {{ stat.base_stat }}</li>
            </ul>
            <div class="chevron">
                <button mat-fab color="primary" aria-label="Expand button" (click)="expand(i, $event)">
                    <mat-icon [@chevron]="chevron">expand_more</mat-icon>
                </button>
            </div>
            <div class="games" *ngIf="toggled">
                <h3><b>Games featured in:</b></h3>
                <ul *ngFor="let game of pokemon.games">
                    <li>{{ game.version.name |titlecase }}</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</section>
<mat-paginator [length]="completePokemon.length"
               [pageSize]="25"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)">
</mat-paginator>