<mat-card *ngIf="pokemon" class="pokemon-card">
    <mat-card-header>
        <div mat-card-avatar class="pokemon-avatar" [style.backgroundImage]="'url('+ pokemon.sprites.front_default + ')'"></div>
        <mat-card-title>{{ pokemon.name|titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ pokemon.id }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="pokemon.sprites.other['official-artwork'].front_default" style="width: 100%">
    <mat-card-content>
        <h3><b>Abilities:</b></h3>
        <ul *ngFor="let ability of pokemon.abilities">
            <li>
                <app-ability [url]="ability.ability.url" [name]="ability.ability.name"></app-ability>
            </li>
        </ul>
        <h3><b>Games:</b></h3>
        <ul *ngFor="let game of pokemon.game_indices">
            <li>{{ game.version.name |titlecase }}</li>
        </ul>
    </mat-card-content>
</mat-card>